<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<button onclick="WebSocketTest()">连接</button>
<button onclick="send_message()">发送</button>
<button onclick="close_websocket()">关闭</button>
</body>


<script>

    var time = 1;
    function WebSocketTest() {
        if(window.s){
            window.s.close();
        }
        if ("WebSocket" in window) {
            alert("您的浏览器支持 WebSocket!");

            // 打开一个 web socket
            ws = new WebSocket("ws://127.0.0.1:8000/websock/test/");

            ws.onopen = function () {
                // Web Socket 已连接上，使用 send() 方法发送数据
                ws.send("发送数据");

            };

            ws.onmessage = function (evt) {
                var received_msg = evt.data;
                console.log("reveive data:" + received_msg)
               
            };

            if (ws.readyState == WebSocket.OPEN) ws.onopen();
            window.s = ws;
        }
        else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }
    
    function send_message() {
         if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send(time);//通过websocket发送数据
                time++;
            }
    }
    
    function close_websocket() {
         if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
    }


</script>
</html>